@import "tailwindcss";
@config "../../tailwind.config.js";

/* DEFAULT MONOCHROME THEME */
:root {
  /* Tailwind Slate's */
  --brand-primary: #0f172a;
  --brand-primary-hover: #334155;
  --brand-primary-light: #b7c5d8;
  --brand-primary-text: #0f172a;
  --brand-primary-contrast: #334155;

  --brand-primary-gradient-start: #0f172a;
  --brand-primary-gradient-end: #0f172a;

  --brand-secondary: #0f172a;
  --brand-secondary-hover: #334155;
  --brand-secondary-light: #b5becd;
  --brand-secondary-text: #0f172a;
  --brand-secondary-contrast: #334155;

  --brand-secondary-gradient-start: #0f172a;
  --brand-secondary-gradient-end: #0f172a;

  --brand-tertiary: #0f172a;
  --brand-tertiary-hover: #334155;
  --brand-tertiary-light: #64748b;
  --brand-tertiary-text: #0f172a;
  --brand-tertiary-contrast: #334155;

  --brand-tertiary-gradient-start:  #0f172a;
  --brand-tertiary-gradient-end: #0f172a;

  --glass-gradient-start: rgba(255, 255, 255, 0.1);
  --glass-gradient-end: rgba(255, 255, 255, 0.4);

  --neutral-background: #F8FAFC;
  --neutral-background-secondary: #F1F5F9;
  --neutral-surface: #FFFFFF;
  --neutral-text: #3E4342;
  --neutral-text-secondary: #64748B;
  --neutral-border: #CBD5E1;
  --neutral-border-subtle: #e2e8f0;

  --background-color: #f8fafc;
  --background-brand-code: #ffffff;
}

.dark {
  --brand-primary: #f1f5f9;
  --brand-primary-hover: #94a3b8;
  --brand-primary-light: #4f555e;
  --brand-primary-text: #f1f5f9;
  --brand-primary-contrast: #f1f5f9;

  --brand-primary-gradient-start: #f1f5f9;
  --brand-primary-gradient-end: #f1f5f9;

  --brand-secondary: #f1f5f9;
  --brand-secondary-hover: #94a3b8;
  --brand-secondary-light: #4b4f53;
  --brand-secondary-text: #f1f5f9;
  --brand-secondary-contrast: #f1f5f9;

  --brand-secondary-gradient-start: #f1f5f9;
  --brand-secondary-gradient-end: #f1f5f9;

  --brand-tertiary: #f1f5f9;
  --brand-tertiary-hover: #94a3b8;
  --brand-tertiary-light: #cbd5e1;
  --brand-tertiary-text: #f1f5f9;
  --brand-tertiary-contrast: #f1f5f9;

  --brand-tertiary-gradient-start:  #f1f5f9;
  --brand-tertiary-gradient-end: #f1f5f9;

  --glass-gradient-start: rgba(51, 65, 85, 0.25);
  --glass-gradient-end: rgba(29,44,108,0.0);

  --neutral-background: #0f172a;
  --neutral-surface: #1A202C;
  --neutral-background-secondary: #1F2937;
  --neutral-text: #F9FAFB;
  --neutral-text-secondary: #9CA3AF;
  --neutral-border: #64748b;
  --neutral-border-subtle: #4B5563;

  --background-color: #020617;
  --background-brand-code: #011627;
}

.theme-pine {
  --brand-primary: #30A46C; /* grass8 */
  --brand-primary-hover: #2b9a66; /* grass10 */
  --brand-primary-light: #c4e8d1; /* grass5 */
  --brand-primary-text: #218358; /* grass11 */
  --brand-primary-contrast: #193b2d; /* grass12 */
 
  --brand-primary-gradient-start: #30a46c; /* grass9 */
  --brand-primary-gradient-end: #218358; /* grass11 */
 
  --brand-secondary: #5bb98c; /* grass8 */
  --brand-secondary-hover: #2b9a66; /* grass10 */
  --brand-secondary-light: #c4e8d1; /* grass5 */
  --brand-secondary-text: #218358; /* grass11 */
  --brand-secondary-contrast: #193b2d; /* grass12 */
 
  --brand-secondary-gradient-start: #30a46c; /* grass9 */
  --brand-secondary-gradient-end: #218358; /* grass11 */
 
  --brand-tertiary: #5bb98c; /* grass8 */
  --brand-tertiary-hover: #2b9a66; /* grass10 */
  --brand-tertiary-light: #c4e8d1; /* grass5 */
  --brand-tertiary-text: #218358; /* grass11 */
  --brand-tertiary-contrast: #193b2d; /* grass12 */
 
  --brand-tertiary-gradient-start: #8eceaa; /* grass7 */
  --brand-tertiary-gradient-end: #30a46c; /* grass9 */
 
  --glass-gradient-start: rgba(255, 255, 255, 0.1);
  --glass-gradient-end: rgba(255, 255, 255, 0.4);
 
  --neutral-background: #fbfefb; /* grass1 */
  --neutral-background-secondary: #f5fbf5; /* grass2 */
  --neutral-surface: #e9f6e9; /* grass3 */
  --neutral-text: #0f172a; /* slate 900 */
  --neutral-text-secondary: #64748b; /* slate 500 */
  --neutral-border: #65ba74; /* grass8 */
  --neutral-border-subtle: #b2ddb5; /* grass6 */
 
  --background-color: #f9f9f9;
}

.theme-pine.dark {
  --brand-primary: #30A46C; /* greenDark9 */
  --brand-primary-hover: #33b074; /* grassDark10 */
  --brand-primary-light: #174933; /* grassDark5 */
  --brand-primary-text: #3dd68c; /* grassDark11 */
  --brand-primary-contrast: #b1f1cb; /* grassDark12 */
 
  --brand-primary-gradient-start: #30a46c; /* grassDark9 */
  --brand-primary-gradient-end: #3dd68c; /* grassDark11 */
 
  --brand-secondary: #2f7c57; /* grassDark8 */
  --brand-secondary-hover: #33b074; /* grassDark10 */
  --brand-secondary-light: #174933; /* grassDark5 */
  --brand-secondary-text: #3dd68c; /* grassDark11 */
  --brand-secondary-contrast: #b1f1cb; /* grassDark12 */
 
  --brand-secondary-gradient-start: #30a46c; /* grassDark9 */
  --brand-secondary-gradient-end: #3dd68c; /* grassDark11 */
 
  --brand-tertiary: #2f7c57; /* grassDark8 */
  --brand-tertiary-hover: #33b074; /* grassDark10 */
  --brand-tertiary-light: #174933; /* grassDark5 */
  --brand-tertiary-text: #3dd68c; /* grassDark11 */
  --brand-tertiary-contrast: #b1f1cb; /* grassDark12 */
 
  --brand-tertiary-gradient-start: #28684a; /* grassDark7 */
  --brand-tertiary-gradient-end: #30a46c; /* grassDark9 */
 
  --glass-gradient-start: rgba(37, 72, 45, 0.25);
  --glass-gradient-end: rgba(0,0,0,0.0);
 
  --neutral-background: #0e1512; /* grassDark1 */
  --neutral-background-secondary: #121b17; /* grassDark2 */
  --neutral-surface: #132d21; /* grassDark3 */
  --neutral-text: #f8fafc; /* slate 50 */
  --neutral-text-secondary: #cbd5e1; /* slate 300 */
  --neutral-border: #2f7c57; /* grassDark8 */
  --neutral-border-subtle: #20573e; /* grassDark6 */
 
  --background-color: #020202;
}

.theme-hark {
  --brand-primary: #30A46C;
  --brand-primary-hover: #2b9a66;
  --brand-primary-light: #c4e8d1;
  --brand-primary-text: #218358;
  --brand-primary-contrast: #193b2d;

  --brand-primary-gradient-start: #30a46c;
  --brand-primary-gradient-end: #218358;

  --brand-secondary: #e9a215;
  --brand-secondary-hover: #d19012;
  --brand-secondary-light: #f8ddad;
  --brand-secondary-text: #9f6504;
  --brand-secondary-contrast: #5f3b00;

  --brand-secondary-gradient-start: #f2bc57;
  --brand-secondary-gradient-end: #c88200;

  --brand-tertiary: #e9a215;
  --brand-tertiary-hover: #d19012;
  --brand-tertiary-light: #f8ddad;
  --brand-tertiary-text: #9f6504;
  --brand-tertiary-contrast: #5f3b00;

  --brand-tertiary-gradient-start: #f4cb7d;
  --brand-tertiary-gradient-end: #e9a215;

  --glass-gradient-start: rgba(255, 255, 255, 0.1);
  --glass-gradient-end: rgba(255, 255, 255, 0.4);

  --neutral-background: #fbfefb;
  --neutral-background-secondary: #f5fbf5;
  --neutral-surface: #edf7ef;
  --neutral-text: #0f172a;
  --neutral-text-secondary: #64748b;
  --neutral-border: #65ba74;
  --neutral-border-subtle: #b2ddb5;

  --background-color: #f9f9f9;
}

.theme-hark.dark {
  --brand-primary: #30A46C;
  --brand-primary-hover: #33b074;
  --brand-primary-light: #174933;
  --brand-primary-text: #3dd68c;
  --brand-primary-contrast: #b1f1cb;

  --brand-primary-gradient-start: #30a46c;
  --brand-primary-gradient-end: #3dd68c;

  --brand-secondary: #e9a215;
  --brand-secondary-hover: #f2bc57;
  --brand-secondary-light: #5a3a06;
  --brand-secondary-text: #f4cb7d;
  --brand-secondary-contrast: #fde7b6;

  --brand-secondary-gradient-start: #f2bc57;
  --brand-secondary-gradient-end: #d19012;

  --brand-tertiary: #e9a215;
  --brand-tertiary-hover: #f2bc57;
  --brand-tertiary-light: #5a3a06;
  --brand-tertiary-text: #f4cb7d;
  --brand-tertiary-contrast: #fde7b6;

  --brand-tertiary-gradient-start: #c88200;
  --brand-tertiary-gradient-end: #f2bc57;

  --glass-gradient-start: rgba(37, 72, 45, 0.25);
  --glass-gradient-end: rgba(0, 0, 0, 0);

  --neutral-background: #0e1512;
  --neutral-background-secondary: #121b17;
  --neutral-surface: #132d21;
  --neutral-text: #f8fafc;
  --neutral-text-secondary: #cbd5e1;
  --neutral-border: #2f7c57;
  --neutral-border-subtle: #20573e;

  --background-color: #020202;
}



/* Shared styles */
.brand-primary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-primary-gradient-start), var(--brand-primary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-secondary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-secondary-gradient-start), var(--brand-secondary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-tertiary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-tertiary-gradient-start), var(--brand-tertiary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-glass-gradient {
  background-image: linear-gradient(to bottom right, var(--glass-gradient-start), var(--glass-gradient-end));
}

.brand-glass-hover-gradient {
  background-image: linear-gradient(to bottom right, var(--glass-hover-gradient-start), var(--glass-hover-gradient-end));
}

.brand-background-gradient {
  background-image: linear-gradient(to bottom right, var(--background-primary-gradient-start), var(--background-primary-gradient-end)); 
}

.neutral-surface-bg {
  background-color: var(--neutral-surface);
}









mark {
  background-color: var(--brand-primary-light);
  font-weight: bold;
}
